.btn {
    display: block;
    font-size: .45rem;
    outline: none;
    background: none;
    border: none;
    padding: 0.13rem 0.21rem;
    border: solid .125rem #333;
    .btn-round {
        border-radius: 0.0667rem;
    }
    .btn-link {
        display: inline;
        border: none;
    }
}